	* {
		margin:0;
		padding:0;	
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		
	}	
	
	html, body {
	
		height:100%;
		width:100%;

	}
	
	#container {
	
		height:100%;
		width:100%;

	}
	#navbar {
	
		height:40px;
		background-color:#f1f1f1;
		border:1px solid gray;
		width:100%;

	}
	
	#logo {
		float:left;
		padding:10px 0 0 20px;
		font-weight:bold;
	}
	
	#menu {
	
		margin:0 auto;
		width:210px;
		padding:5px;
		
		
	}
	
	#menu ul {

		list-style:none;
		border:1px solid gray;
		border-radius:3px;
		height:30px;	
				
		
	}
	
	#menu li {
	

		border-right:1px solid gray;
		height:20px;
		padding:5px 8px;
		float:left;
	}
	
	
	
	#buttonDiv {
		float:right;
		padding:0px 5px;
		position:abolute;
		margin-top:-38px;
		margin-right:20px;
	}
	
	.clear {
		clear:both;
	}
	
	#run {
	
		border-radius:5px;
		background-color:#D3D3D3;
		padding:0px 10px;
		font-size:1.3em;

	}

	.codeContainer {
	
		height:100%;
		width:50%;
		float:left;
		position:relative;
	}
	
	.codeContainer textarea {
	
		width:99%;
		height:100%;
		border:none;
		border-right:1px solid gray;
		font-family:monotype;
		font-size:1em;
		padding:5px;
		box-sizing:border-box;
	}
	
	.codeLabel {
		position:absolute;
		right:10px;
		top:10px;
	}
	
	#CSSContainer, #JSContainer {
		display:none;
	}
	
	iframe {
	
		height:100%;
		width:100%;
		position:relative;
		left:10px;
		border:none;
	}
	
	.selected {
	
		background-color:gray;
	}